h1 {
  border-bottom: 1px solid lightgrey;
}

h1, h2 {
  padding: 8px;
}

.books-card {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  border: 1px solid lightgrey;
  border-radius: 14px;
  width: 300px;
  padding: 10px;
  margin: 6px;
  display: flex;
  flex-direction: column;

}